spring:
  application:
    name: Mamae Contente
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/mamaecontente}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    locations: classpath:db/migration